<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <title>Chamado</title>
    </head>

    <body class="p-0px m-0px">
        <div class="flex">
            <!--MENU DESKTOP-->
            <div class="flex column justify-center"
                style="background-color: green; color:white;">
                <img src="../img/home-branco.png" alt="inicio"
                    style="width:35px; margin-top:7px; margin-bottom:7px; padding:5px;">
                <img src="../img/perfil-branco.png" alt="usuário"
                    style="width:35px; margin-top:7px; margin-bottom:7px; padding:5px;">
                <img src="../img/chamado-branco.png" alt="usuário"
                    style="width:35px; margin-top:7px; margin-bottom:7px; padding:5px;">
                <img src="../img/sair-branco.png" alt="usuário"
                    style="width:35px; margin-top:7px; margin-bottom:7px; padding:5px;">
            </div>

            <div class="flex wrap"
                style="width: 100%; height:100vh;">
                <div class="container">
                    <form action method="post">
                        <select name="status">
                            <option value>Selecione status</option>
                            <option value>Aberto</option>
                            <option value>Em espera</option>
                            <option value>Fechado</option>
                        </select>
                        <br>
                        <textarea name cols="20" rows="2"></textarea>
                        <br>
                        <input type="submit" value="Enviar">
                    </form>

                    <div>
                        <div class="flex column">
                            <div class="flex">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/74/74472.png"
                                    alt style="width:25px">
                                <span>Luiz Gustavo Queiroz</span>
                            </div>
                            <span>sdsd</span>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div class="flex column">
                            <div class="flex">
                                <img
                                    src="https://cdn-icons-png.flaticon.com/512/74/74472.png"
                                    alt style="width:25px">
                                <span>Luiz Gustavo Queiroz</span>
                            </div>
                            <span>sdswefwefd</span>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        

    </body>
</html>